body {
    font-family: $font-family-sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

[v-cloak] > * { display:none; }
