body {
  font-family: "Nunito", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body .bg-gradient-primary {
  background: linear-gradient(87deg, #0a0c15 0, #825ee4 100%) !important;
}
body .bg-gradient-secondary {
  background: linear-gradient(87deg, #f7fafc 0, #f7f8fc 100%) !important;
}
body .bg-gradient-success {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}
body .bg-gradient-info {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}
body .bg-gradient-warning {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}
body .bg-gradient-danger {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}
body .bg-gradient-light {
  background: linear-gradient(87deg, #adb5bd 0, #adaebd 100%) !important;
}
body .bg-gradient-dark {
  background: linear-gradient(87deg, #212529 0, #212229 100%) !important;
}
body .bg-gradient-default {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}
body .bg-gradient-white {
  background: linear-gradient(87deg, #fff 0, white 100%) !important;
}
body .bg-gradient-neutral {
  background: linear-gradient(87deg, #fff 0, white 100%) !important;
}
body .bg-gradient-darker {
  background: linear-gradient(87deg, black 0, black 100%) !important;
}
body .bg-gradient-blue {
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}
body .bg-gradient-indigo {
  background: linear-gradient(87deg, #5603ad 0, #9d03ad 100%) !important;
}
body .bg-gradient-purple {
  background: linear-gradient(87deg, #8965e0 0, #bc65e0 100%) !important;
}
body .bg-gradient-pink {
  background: linear-gradient(87deg, #f3a4b5 0, #f3b4a4 100%) !important;
}
body .bg-gradient-red {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}
body .bg-gradient-orange {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}
body .bg-gradient-yellow {
  background: linear-gradient(87deg, #ffd600 0, #beff00 100%) !important;
}
body .bg-gradient-green {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}
body .bg-gradient-teal {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}
body .bg-gradient-cyan {
  background: linear-gradient(87deg, #2bffc6 0, #2be0ff 100%) !important;
}
body .bg-gradient-white {
  background: linear-gradient(87deg, #fff 0, white 100%) !important;
}
body .bg-gradient-gray {
  background: linear-gradient(87deg, #8898aa 0, #888aaa 100%) !important;
}
body .bg-gradient-gray-dark {
  background: linear-gradient(87deg, #32325d 0, #44325d 100%) !important;
}
body .bg-gradient-light {
  background: linear-gradient(87deg, #ced4da 0, #cecfda 100%) !important;
}
body .bg-gradient-lighter {
  background: linear-gradient(87deg, #e9ecef 0, #e9eaef 100%) !important;
}
body .bg-translucent-primary {
  background-color: rgba(63, 87, 223, 0.6) !important;
}

.php-info .center {
  left: 0%;
  transform: translateX(0%);
}

.navbar {
  z-index: 1;
}

[v-cloak] > * {
  display: none;
}

.btn.btn-input {
  border-radius: 6px 0 0 6px;
}

.btn.btn-input + input[type=text] {
  padding-left: 10px;
}

.text-white, .navbar-default .navbar-brand {
  color: #ffffff;
}